<?xml version="1.0"?>
<config>
	  <sections>
		  <payment>
			  <groups>
				  <fdpaymentoverride translate="label comment" module="paypal">
					  <label>FD Payment Override Options</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>1</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
					  <fields>
						  <method_code translate="label">
							  <label>Method Codes to hide on Frontend</label>
							  <frontend_type>text</frontend_type>
							  <sort_order>20</sort_order>
							  <show_in_default>1</show_in_default>
							  <show_in_website>1</show_in_website>
							  <show_in_store>1</show_in_store>
							  <comment>Enter the payment method codes to hide on the frontend. Multiple values seperated by comma. No spaces. </comment>
						  </method_code>
					  </fields>
				  </fdpaymentoverride>
			  </groups>
		  </payment>
	  </sections>
</config>
